
<div class="container-narrow">
  <div class="well">
    <%= link_to "Admin", '/admin/all/all', class: "btn btn-primary span2 modalButton" %>
    <%= link_to "Prof", '/profesor/all/all', class: "btn btn-primary span2 modalButton" %>
    <%= link_to "Student", '/student/all/all', class: "btn btn-primary span2 modalButton" %>
  </div>
</div>
